body {
  background-color: #E6E6E6;
}

#title {
  color: #f76e23;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#BodyText {
  color: #1A1A1A;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

#linklist {
  font-family: 'Raleway', sans-serif;
  column-count:4 ;
  background-color: #111111;
  border: 3px solid #f76e23
}
#linklist a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #f76e23;
  transition: color 0.3s linear;
  font-size: 25px;
  padding: 30px;
}
#linklist a:hover {
  color: #FFFFFF;
}
