body {
  background-color: #E6E6E6;
}

#title {
  color: #1A1A1A;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  text-shadow:
    -1px -1px 0 #f76e23,
    1px -1px 0 #f76e23,
    -1px 1px 0 #f76e23,
    1px 1px 0 #f76e23,
    -2px -2px 0 #1A1A1A,
    2px -2px 0 #1A1A1A,
    -2px 2px 0 #1A1A1A,
    2px 2px 0 #1A1A1A;
}

#BodyText {
  color: #1A1A1A;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-shadow:
  -1px -1px 0 #e6ac00,
  1px -1px 0 #e6ac00,
  -1px 1px 0 #e6ac00,
  1px 1px 0 #e6ac00;
}

#linklist {
  font-family: 'Raleway', sans-serif;
  column-count:4 ;
  background-color: #111111;
  border: 3px solid #f76e23
}
#linklist a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #f76e23;
  transition: color 0.3s linear;
  font-size: 25px;
  padding: 30px;
}
#linklist a:hover {
  color: #FFFFFF;
}
#quote {
  color: #1A1A1A;
  letter-spacing: 16px;
  font-size: 108px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-top: 140px;
  text-shadow:
    -1px -1px 0 #f76e23,
    1px -1px 0 #f76e23,
    -1px 1px 0 #f76e23,
    1px 1px 0 #f76e23;
}


#more {
  letter-spacing: 16px;
  font-family: 'Raleway', sans-serif;
  text-align: Center;
  font-size: 64px;
  padding-top: 100px;
  text-shadow:
  -1px -1px 0 #f76e23,
  1px -1px 0 #f76e23,
  -1px 1px 0 #f76e23,
  1px 1px 0 #f76e23
}
