body {
  background-color: #1A1A1A;
  margin-top: 0px;
  margin-bottom: 0px;
}

#title {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 108px;
  text-shadow:
    -1px -1px 0 #f76e23,
    1px -1px 0 #f76e23,
    -1px 1px 0 #f76e23,
    1px 1px 0 #f76e23;
}

#BodyText {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-shadow:
  -1px -1px 0 #e6ac00,
  1px -1px 0 #e6ac00,
  -1px 1px 0 #e6ac00,
  1px 1px 0 #e6ac00;
}

#linklist {
  font-family: 'Raleway', sans-serif;
  column-count:4;
  background-color: #111111;
  border: 3px solid #f76e23
}
#linklist a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #f76e23;
  transition: color 0.3s linear;
  font-size: 25px;
  padding: 30px;
}
#linklist a:hover {
  color: #FFFFFF;
}

#quote {
  color: #E6E6E6;
  font-size: 44px;
  letter-spacing: 16px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow:
    -1px -1px 0 #f76e23,
    1px -1px 0 #f76e23,
    -1px 1px 0 #f76e23,
    1px 1px 0 #f76e23;
}
#more {
  letter-spacing: 16px;
  font-family: 'Raleway', sans-serif;
  text-align: Center;
  font-size: 96px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow:
  -1px -1px 0 #f76e23,
  1px -1px 0 #f76e23,
  -1px 1px 0 #f76e23,
  1px 1px 0 #f76e23
}

#book {
  padding-top: 0px;
  padding-bottom: 0px;
  margin:0 auto;
  width:190px;
  height:134px;
  transition: background-image 2s ease-in-out;
  background-image:url("images/book-symbol.png");
  transition-delay: 2s;
}

#book img {
  transition: background-image 1s ease-in-out;
}

#book:hover {
  background-image:url("images/book-page-turn.png");
}


#portait {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}
