body {
  background-color: #1A1A1A;
}

#title {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  text-shadow:
    -1px -1px 0 #f76e23,
    1px -1px 0 #f76e23,
    -1px 1px 0 #f76e23,
    1px 1px 0 #f76e23;
}

#BodyText {
  color: #FFFFFF;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

#linklist {
  font-family: 'Raleway', sans-serif;
  column-count:4;
  background-color: #111111;
  border: 3px solid #f76e23
}
#linklist a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #f76e23;
  transition: color 0.3s linear;
  font-size: 25px;
  padding: 30px;
}
#linklist a:hover {
  color: #FFFFFF;
}

#quote {
  color: #E6E6E6;
  font-size: 44px;
  letter-spacing: 16px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-top: 40px;
  text-shadow:
    -1px -1px 0 #f76e23,
    1px -1px 0 #f76e23,
    -1px 1px 0 #f76e23,
    1px 1px 0 #f76e23;
}
