/*----------------*/
/*---Variables----*/
/*----------------*/

:root {
	--main-accent-color: #42a5f5;
	--light-accent-color: #D3D3D3;
	--dark-accent-color: #1E1E1E;
}


/*----------------*/
/*-----Resets-----*/
/*----------------*/
*{
	margin: 0;
	padding: 0;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	box-sizing: border-box;
}

/*----------------*/
/*-----Global-----*/
/*----------------*/
body{
	min-height: 100%;
	background-color: var(--dark-accent-color);
}

a {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

.container {
	width: 80%;
	margin: 0 auto;	
}


/*----------------*/
/*-----NavBar-----*/
/*----------------*/

#nav {
	height: 60px;
	background: var(--main-accent-color);
	margin-bottom: 25px;
}

#navContainer {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}

.nav-header {
	color: white;
	font-size: 28px;
	text-shadow: 1px 1px darkorange;
}

.nav-subheader {
	color: darkorange;
	font-size: 22px;
	padding: 10px;
	text-shadow: 1px 1px black;
}

#subNav {
	display: flex;
}


/*----------------*/
/*---Headline-----*/
/*----------------*/
#headline {
	position: relative;
	display: flex;
	outline: groove;
	outline-color: darkorange;
	padding: 3%;
	justify-content: center;
	background-image: url("images/futuristic.jpg");
	background-size: cover;
	background-position: center;
	margin-top: 5%;
	align-items: center;
	padding-top: 1.5%;
	opacity: 1;
}

#headline:hover .overlay{
	display: absolute;
	margin-top: 5%;
	height: 65%;
	transition: .5s;
	opacity: 1;
}

#headline .overlay{
	position: absolute;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
	margin: 0 auto;	
	margin-top: -150px;
	min-height: 100%;
 	width: 100%;
	content: '';
	opacity: 0;
	z-index: 5;
	justify-content: center;
}



#headline-text {
	color: white;
	font-size: 65px;
	text-shadow: 1px 1px 1px darkorange;
	margin-top: 2%;
	z-index: 3;
}






