body {
  background-image: radial-gradient(ellipse closest-side at 50% 50%, #393e44, #36383b 25%, #343233);
  color: #e6e6e6;
  font-size: 24px;
  text-align: center;
}

div {
  background-color: #585550;
}

#linklist {
  column-count:5;
}
#linklist a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #E8A991;
  transition: color 0.3s linear;
  font-size: 30px;
  padding: 25px;
}
#linklist a:hover {
  color: #E1D6FF;
}
