/*----------------*/
/*---Variables----*/
/*----------------*/

:root {
	--main-accent-color: #42a5f5;
	--light-accent-color: #D3D3D3;
	--dark-accent-color: #1E1E1E;
}


/*----------------*/
/*-----Resets-----*/
/*----------------*/
*{
	margin: 0;
	padding: 0;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	box-sizing: border-box;
}

/*----------------*/
/*-----Global-----*/
/*----------------*/
body{
	background-color: var(--dark-accent-color);
}

a {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

.container {
	width: 80%;
	margin: 0 auto;	
}


/*----------------*/
/*-----NavBar-----*/
/*----------------*/

#nav {
	height: 60px;
	background: var(--main-accent-color);
	margin-bottom: 25px;
}

#navContainer {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}

.nav-header {
	color: white;
	font-size: 28px;
	text-shadow: 1px 1px darkorange;
}

.nav-subheader {
	color: darkorange;
	font-size: 22px;
	padding: 10px;
	text-shadow: 1px 1px black;
}

#subNav {
	display: flex;
}


/*----------------*/
/*---Headline-----*/
/*----------------*/
#headline {
	display: flex;
	height: 700px;
	outline: groove;
	outline-color: darkorange;
	padding: 1%;
	justify-content: center;
	background-image: url("images/futuristic.jpg");
	background-size: cover;
	background-position: center;
}

#headline-text {
	color: white;
	font-size: 65px;
	text-shadow: 1px 1px 1px darkorange;
	padding-top: 35px;
}






